body{
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
}
h1{
    color: rgb(218, 108, 108);
    font-family: "Titan One", cursive;
    margin-bottom: 50px;
 
}
img{
    border-radius: 15px;
}